{% extends "base.twig" %}

{% block content %}
	<div class="landing-image" style="background-image: url(images/landing-image.jpg)">
		<div class="content">
			<h1>From wall to wall,<br>
				Synergy's got it covered.</h1>
			<div class="buttons">
				<a class="outline-btn" href="portfolio.html">Our Work</a>
				<a class="outline-btn" href="services.html">Our Services</a>
			</div>
		</div>
	</div>
{% endblock %}
