<div class="mobile-header">
	<a href="/" class="logo">
		<span class="sr-only">Synergy flooring home page</span>
	</a>
	<div class="nav-buttons">
		<div class="nav-icon"></div>
	</div>
</div>
<header class="">
	<div class="max-width">
		<a href="/" class="logo">
			<span class="sr-only">Synergy flooring home page</span>
		</a>
		<div class="desktop-links">
			{{ craft.olivemenus.getMenuHTML('topMenu',{ 
                'menu-id': 'topmenu',
                'ul-class': 'desktop-nav'}) }}
			<div class="modal-buttons">
				<a class="outline-btn" href="tel:{{ globalData.phoneNumber|replace(' ', '') }}">{{ globalData.phoneNumber }}</a>
			</div>
		</div>
	</div>
</header>
